.mr {
  float: right;
  background-color: rgb(241, 124, 144);
  font-family: 'La Belle Aurore', cursive;
  font-size: 30px;
  color: rgb(241, 124, 144);
  align-content: left;
}

.photogrpher{
  width: 75%;
}

.AboutUsForm{
  background-color:rgb(241, 124, 144);
  font-size: 30px;
  font-family: 'La Belle Aurore', cursive;
  color: gray;
  a{
    color: rgb(241, 124, 144);

  }
}
