.singlePictureTitle{
  text-align: start;
  font-family: 'La Belle Aurore', cursive;
  background-color: rgb(197, 191, 191);
  padding: 12px;
  color: rgb(85, 82, 82);
  font-size: 48px;
  font-weight: bolder;
}
.picCarousel{
  width: 100%;
  height: -webkit-fill-available;
  object-fit: cover;
}