.dropdownToggle{
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: white;
}

.dropdown-menu.show, .dropdown-header{
  display: block;
  background-color:  #f17c90;
  font-size: 28px;
  font-family: 'Open Sans', sans-serif;

}