.dropdownToggle{
  font-family: 'La Belle Aurore', cursive;
  font-size: 28px;
  font-weight: bold;
  color: white;
}

.dropdown-menu.show, .dropdown-header{
  display: block;
  background-color:  rgb(241, 124, 144);
  font-size: 28px;
  font-family: 'La Belle Aurore', cursive;

}