.EventTableRow{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #f17c90;
}
.deleteBtn{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  // float: left;
  // text-align-last: justify;
  color: grey;
  background-color: white;
}

.editBtn{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  // float: left;
  // text-align-last: justify;
  background-color: #f17c90;
  color: white;
  margin: 20px 0px 0px;
}