.eventTitle{
  text-align: left;
  font-family: 'La Belle Aurore', cursive;
  background-color: rgb(197, 191, 191);
  padding: 12px;
  color: rgb(85, 82, 82);
  font-size: 48px;
  font-weight: bolder;
}