.NavBarLinks {
  font-family: 'La Belle Aurore', cursive;
  padding: 1em;
  font-size: 32px;
  color: white;
  place-content: space-around;
}

.logOutButton{
  font-family: 'La Belle Aurore', cursive;
  font-size: 32px;
  font-weight: bolder;
  float: right !important;
  color: grey;
  background-color: rgb(197, 191, 191);
}

.brandLogo{
  float: left !important;
  .fa-camera-retro{
    size: 7x;
    color: #f17c90;
  }
}

.greetings{
  color: #f17c90;
  font-weight: bolder;
  border: inset;
  float: right;
}