.eventable{
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  color: #f17c90;
  padding: 12px;
  font-size: 28px;
  background-color: white(250, 244, 244, 0.685);
}

.eventTableHeader{
  border-color: white;
  border: 6px !important;
  background-color: #f17c90;
  color: white;
  font-size: 32px;
  font-family: 'La Belle Aurore', cursive;
}