.eventable{
  font-family: 'La Belle Aurore', cursive;
  font-weight: bolder;
  color: rgb(241, 124, 144);
  padding: 12px;
  font-size: 30px;
  background-color: grey;
}

.eventTableHeader{
  border-color: white;
  border: 6px !important;
  background-color: #f17c90;
  color: white;
  font-size: 40px;
}