.EventTable{
  font-family: 'La Belle Aurore', cursive;
  font-size: 32px;
  color: rgb(241, 124, 144);
}
.deleteBtn{
  font-family: 'La Belle Aurore', cursive;
  font-size: 32px;
  // float: left;
  // text-align-last: justify;
  color: grey;
  background-color: white;
}