.saveBtn{
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  // float: left;
  // text-align-last: justify;
  color: grey;
  background-color: white;
}

.EventForm{
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #f17c90;
}

.formLabels{
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  color: #f17c90;
  width: 40%;
}

.eventFormGroup{
  text-align-last: justify;
}

.border{
  border-style: outset;
  border: 10px solid  #f17c90!important;
  padding: 1em;
  text-align: -webkit-center;
}
