.eventFormTitle{
  text-align: left;
  background-color: rgb(197, 191, 191);
  padding: 12px;
  color: rgb(58, 51, 51);
  font-size: 48px;
  font-weight: bolder;
  font-family: 'La Belle Aurore', cursive;
}